#content {
    width: 100%;
    margin-top: 20px;
}

#content .section-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#content .section-content p:first-child {
    font-size: 50px;
    text-transform: uppercase;
    margin: 20px 0 40px 0;
}

#content .section-content p:nth-child(2) {
    margin: 0 0 10px 0;
}